body {
    background-color:#414042;
   font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color: #47a2da;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    width: 100%;
}

ul li {
    float: right;
    border-left: 1px solid #1776a5;

}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
    
    
}
  
.dropbtn {
    background-color: #47a2da;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    max-width: 900px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    float: left;
 
   
  }
  
  .dropdown-content a:hover  {
   
    transform: scale(1.2);
}
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .dropdown:hover .dropbtn {
    background-color: #1776a5;
  }
  .dropbtn:hover{
    background-color: #1776a5;
  }
  div a img{
      transition: 1s;
      width: 80px;
      height: 80px;
      
      border-radius: 10px;
  }


